<header class="h2o-header">
  
    <div class="h2o-header__box">
        <div class="h2o-breadcrumbs">
          <a href="index.html" class="h2o-breadcrumbs__link"><i class="h2o-icon-home"></i></a>
        </div>
      <div class="h2o-header__inner">  
        <a href="index.html" class="h2o-logo">
          <i class="h2o-icon-logo"></i>
        </a>
      
        <div class="h2o-header__btns">
          <button class="h2o-transparent-button">ВХОД</button>
          <button class="h2o-green-button">РЕГИСТРАЦИЯ</button>
          <button class="h2o-header__btn h2o-green-button">РЕГИСТРАЦИЯ и ВХОД</button>
        </div>
        <button class="h2o-burger">
          <span class="h2o-burger__line"></span>
        </button>
      </div>

      <div class="h2o-header__bottom">
        <div class="h2o-container">
          <ul class="h2o-header-nav">
            <li class="h2o-header-nav__item">
              <a href="#" class="h2o-header-nav__link">Топ</a>
            </li>
            <li class="h2o-header-nav__item">
              <a href="#" class="h2o-header-nav__link">Новые</a>
            </li>
            <li class="h2o-header-nav__item">
              <a href="#" class="h2o-header-nav__link">Live дилеры</a>
            </li>
            <li class="h2o-header-nav__item">
              <a href="#" class="h2o-header-nav__link">Слоты</a>
            </li>
            <li class="h2o-header-nav__item">
              <a href="#" class="h2o-header-nav__link">Быстрые игры</a>
            </li>
            <li class="h2o-header-nav__item">
              <a href="#" class="h2o-header-nav__link">Столы</a>
            </li>
            <li class="h2o-header-nav__item">
              <a href="#" class="h2o-header-nav__link">Скретч карты</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="h2o-mobile-menu">
      <a href="index.html" class="h2o-logo">
        <i class="h2o-icon-logo"></i>
      </a>
        <button class="h2o-burger">
          <span class="h2o-burger__line"></span>
        </button>
      <div class="h2o-mobile-menu__box">
        <ul class="h2o-menu-list">
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-shares"></i>Акции</button>
          </li>
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-reward"></i>Награды</button>
          </li>
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-cup"></i>Турниры</button>
          </li>
        </ul>

        <ul class="h2o-menu-list">
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up active"><i class="h2o-icon-casino"></i>Казино</button>
          </li>
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-poker"></i>Покер</button>
          </li>
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-ball"></i>Спорт</button>
          </li>
        </ul>

        <ul class="h2o-menu-list">
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-card"></i>Live дилеры</button>
          </li>
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-lemon"></i>Слоты</button>
          </li>
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-plane"></i>Быстрые игры</button>
          </li>
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-cube"></i>Столы</button>
          </li>
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-scratch"></i>Скретч карты</button>
          </li>
        </ul>
        
        <ul class="h2o-menu-list">
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-news"></i>Новости</button>
          </li>
          <li class="h2o-menu-list__item">
            <button class="h2o-menu-list__link h2o-up"><i class="h2o-icon-faq"></i>FAQ</button>
          </li>
        </ul>
      </div>
    </div>
 
</header>